/third-party/
/dev/IFV-Borsuk/
/out/
*.stl

# other
/out/
/build/
/bin/
/obj/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

.ninja_deps
.ninja_log

.vs/
*.user
*.suo
*.db
*.opendb
*.VC.db
*.sln.docstates

*.exe
*.dll
*.lib
*.so
*.a
*.ilk
*.pdb
*.exp
*.obj
*.o

.DS_Store
Thumbs.db